@model WebsiteBanDienThoai.Models.ChiTietSanPham
@using WebsiteBanDienThoai.common
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var relatedproduct = (List<WebsiteBanDienThoai.EF.Product>)ViewBag.relatedproduct;
    var listFeedback = (List<WebsiteBanDienThoai.EF.Feedback>)ViewBag.ListFeedback;

}
<main>
    <section class="container">


        <ul class="b-crumbs">
            <li>
                <a href="index.html">
                    Home
                </a>
            </li>
            <li>
                <a href="catalog-list.html">
                    Catalog
                </a>
            </li>
            <li>
                <a href="catalog-list.html">
                    Women
                </a>
            </li>
            <li>
                <span>Aperiam nihil veniam</span>
            </li>
        </ul>
        <h1 class="main-ttl"><span>@Model.Product.ProductName</span></h1>
        <!-- Single Product - start -->
        <div class="prod-wrap">

            <!-- Product Images -->
            <div class="prod-slider-wrap">
                <div class="prod-slider">
                    <ul class="prod-slider-car">
                        <li>
                            <a data-fancybox-group="product" class="fancy-img" href="http://placehold.it/500x642">
                                <img src="~/Assets/img/@Model.Product.image" alt="">
                            </a>
                        </li>
                      
                    </ul>
                </div>
            </div>

            <!-- Product Description/Info -->
            <div class="prod-cont">
                <div class="prod-cont-txt">
                    @Model.Product.Descriptionshort
                </div>
                <div class="prod-info">
                    <p class="prod-price">
                        <b class="item_current_price">@Model.Product.New_Price</b>
                    </p>
                    <p class="prod-qnt">
                        <input value="1" type="text">
                        <a href="#" class="prod-plus"><i class="fa fa-angle-up"></i></a>
                        <a href="#" class="prod-minus"><i class="fa fa-angle-down"></i></a>
                    </p>
                    <p class="prod-addwrap">
                        <a href="#" class="prod-add" rel="nofollow">Add to cart</a>
                    </p>
                </div>
                <ul class="prod-i-props">
                    <li>
                        <b>Kích thước màn hình</b> @Model.Product.kichThuocManHinh
                    </li>
                    <li>
                        <b>Ram</b> @Model.Product.ram
                    </li>
                    <li>
                        <b>Rom</b> @Model.Product.bonhotrong
                    </li>
                    <li>
                        <b>Hệ điều hành</b> @Model.Product.heDieuHanh
                    </li>
                    <li>
                        <b>Camera trước</b> @Model.Product.cameraTruoc
                    </li>
                    <li>
                        <b>Camera sau</b> @Model.Product.cameraSau
                    </li>
                    <li>
                        <b>CPU</b> @Model.Product.CPU
                    </li>
                    <li>
                        <b>Pin</b> @Model.Product.pin
                    </li>
                    <li><a href="#" class="prod-showprops">All Features</a></li>
                </ul>
            </div>

            <!-- Product Tabs -->
            <div class="prod-tabs-wrap">
                <ul class="prod-tabs">
                    <li><a data-prodtab-num="1" class="active" href="#" data-prodtab="#prod-tab-1">Description</a></li>
                    <li><a data-prodtab-num="2" id="prod-props" href="#" data-prodtab="#prod-tab-2">Features</a></li>
                    <li><a data-prodtab-num="5" href="#" data-prodtab="#prod-tab-5">Reviews (3)</a></li>
                </ul>
                <div class="prod-tab-cont">

                    <p data-prodtab-num="1" class="prod-tab-mob active" data-prodtab="#prod-tab-1">Description</p>
                    <div class="prod-tab stylization" id="prod-tab-1">
                        <p>@Model.Product.Description</p>
                    </div>
                    <p data-prodtab-num="2" class="prod-tab-mob" data-prodtab="#prod-tab-2">Features</p>
                    <div class="prod-tab prod-props" id="prod-tab-2">
                        <table>
                            <tbody>
                                <tr>
                                    <td>SKU</td>
                                    <td>05464207</td>
                                </tr>
                                <tr>
                                    <td>Material</td>
                                    <td>Nylon</td>
                                </tr>
                                <tr>
                                    <td>Pattern Type</td>
                                    <td>Solid</td>
                                </tr>
                                <tr>
                                    <td>Wash</td>
                                    <td>Colored</td>
                                </tr>
                                <tr>
                                    <td>Style</td>
                                    <td>Sport</td>
                                </tr>
                                <tr>
                                    <td>Color</td>
                                    <td>Blue</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>Unisex</td>
                                </tr>
                                <tr>
                                    <td>Rain Cover</td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td>Exterior</td>
                                    <td>Solid Bag</td>
                                </tr>
                                <tr>
                                    <td>Closure Type</td>
                                    <td>Zipper</td>
                                </tr>
                                <tr>
                                    <td>Handle/Strap Type</td>
                                    <td>Soft Handle</td>
                                </tr>
                                <tr>
                                    <td>Size</td>
                                    <td>33cm x 18cm x 48cm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p data-prodtab-num="5" class="prod-tab-mob" data-prodtab="#prod-tab-5">Reviews</p>
                    <div class="prod-tab" id="prod-tab-5">
                        <ul id="list-review" class="reviews-list">
                            @foreach (var item in listFeedback)
                            {
                                <li class="reviews-i existimg">
                                    <div class="reviews-i-img">
                                        <img src="http://placehold.it/120x120" alt="Averill Sidony">
                                        <div class="reviews-i-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <time datetime="2017-12-21 12:19:46" class="reviews-i-date">@item.create_at</time>
                                    </div>
                                    <div class="reviews-i-cont">
                                        <p>@item.Content</p>
                                        <span class="reviews-i-margin"></span>
                                        <h3 class="reviews-i-ttl">@item.Name</h3>
                                        <p class="reviews-i-showanswer"><span data-open="Show answer" data-close="Hide answer">Show answer</span> <i class="fa fa-angle-down"></i></p>
                                    </div>
                                    @*@foreach (var a in listReplyFeedback)
                                    {


                                        <div class="reviews-i-answer">
                                            <p>
                                                @a.content
                                            </p>
                                            <span class="reviews-i-margin"></span>
                                        </div>
                                    }*@
                                </li>
                            }
                        </ul>

                        <div class="prod-comment-form">
                            <h3>Add your review</h3>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.AddFeedback.ProductId, new { id="product-id", Value = Model.Product.ID })
                                @Html.TextBoxFor(model => model.AddFeedback.Name, new { id = "name", type = "text", placeHolder = "name" })
                                @Html.TextBoxFor(model => model.AddFeedback.Email, new { id = "email", type = "text", placeHolder = "email" })
                                @Html.TextBoxFor(model => model.AddFeedback.Content, new { id = "content", type = "text", placeHolder = "content" })
                                <input id="btnSubmitCmt" type="button" value="Submit" class="btn btn-success" />
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Single Product - end -->
        <!-- Related Products - start -->
        @*<div class="prod-related">
            <h2><span>Related products</span></h2>
            <div class="prod-related-car" id="prod-related-car">
                <ul class="slides">
                    <li class="prod-rel-wrap">
                        <div class="prod-rel">
                            <a href="product.html" class="prod-rel-img">
                                <img src="http://placehold.it/300x311" alt="Adipisci aperiam commodi">
                            </a>
                            <div class="prod-rel-cont">
                                <h3><a href="product.html">Adipisci aperiam commodi</a></h3>
                                <p class="prod-rel-price">
                                    <b>$59</b>
                                </p>
                                <div class="prod-rel-actions">
                                    <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                    <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                    <p class="prod-i-addwrap">
                                        <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="prod-rel">
                            <a href="product.html" class="prod-rel-img">
                                <img src="http://placehold.it/300x366" alt="Nulla numquam obcaecati">
                            </a>
                            <div class="prod-rel-cont">
                                <h3><a href="product.html">Nulla numquam obcaecati</a></h3>
                                <p class="prod-rel-price">
                                    <b>$48</b>
                                </p>
                                <div class="prod-rel-actions">
                                    <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                    <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                    <p class="prod-i-addwrap">
                                        <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="prod-rel">
                            <a href="product.html" class="prod-rel-img">
                                <img src="http://placehold.it/370x300" alt="Dignissimos eaque earum">
                            </a>
                            <div class="prod-rel-cont">
                                <h3><a href="product.html">Dignissimos eaque earum</a></h3>
                                <p class="prod-rel-price">
                                    <b>$37</b>
                                </p>
                                <div class="prod-rel-actions">
                                    <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                    <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                    <p class="prod-i-addwrap">
                                        <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="prod-rel">
                            <a href="product.html" class="prod-rel-img">
                                <img src="http://placehold.it/300x345" alt="Porro quae quasi">
                            </a>
                            <div class="prod-rel-cont">
                                <h3><a href="product.html">Porro quae quasi</a></h3>
                                <p class="prod-rel-price">
                                    <b>$85</b>
                                </p>
                                <div class="prod-rel-actions">
                                    <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                    <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                    <p class="prod-i-addwrap">
                                        <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="prod-rel-wrap">
                        <div class="prod-rel">
                            <a href="product.html" class="prod-rel-img">
                                <img src="http://placehold.it/378x300" alt="Sunt temporibus velit">
                            </a>
                            <div class="prod-rel-cont">
                                <h3><a href="product.html">Sunt temporibus velit</a></h3>
                                <p class="prod-rel-price">
                                    <b>$115</b>
                                </p>
                                <div class="prod-rel-actions">
                                    <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                    <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                    <p class="prod-i-addwrap">
                                        <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="prod-rel">
                            <a href="product.html" class="prod-rel-img">
                                <img src="http://placehold.it/300x394" alt="Harum illum incidunt">
                            </a>
                            <div class="prod-rel-cont">
                                <h3><a href="product.html">Harum illum incidunt</a></h3>
                                <p class="prod-rel-price">
                                    <b>$130</b>
                                </p>
                                <div class="prod-rel-actions">
                                    <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                    <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                    <p class="prod-i-addwrap">
                                        <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="prod-rel">
                            <a href="product.html" class="prod-rel-img">
                                <img src="http://placehold.it/300x303" alt="Reprehenderit rerum">
                            </a>
                            <div class="prod-rel-cont">
                                <h3><a href="product.html">Reprehenderit rerum</a></h3>
                                <p class="prod-rel-price">
                                    <b>$210</b>
                                </p>
                                <div class="prod-rel-actions">
                                    <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                    <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                    <p class="prod-i-addwrap">
                                        <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="prod-rel">
                            <a href="product.html" class="prod-rel-img">
                                <img src="http://placehold.it/300x588" alt="Quae quasi adipisci alias">
                            </a>
                            <div class="prod-rel-cont">
                                <h3><a href="product.html">Quae quasi adipisci alias</a></h3>
                                <p class="prod-rel-price">
                                    <b>$85</b>
                                </p>
                                <div class="prod-rel-actions">
                                    <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                    <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                    <p class="prod-i-addwrap">
                                        <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="prod-rel-wrap">
                        <div class="prod-rel">
                            <a href="product.html" class="prod-rel-img">
                                <img src="http://placehold.it/300x416" alt="Maxime molestias necessitatibus nobis">
                            </a>
                            <div class="prod-rel-cont">
                                <h3><a href="product.html">Maxime molestias necessitatibus nobis</a></h3>
                                <p class="prod-rel-price">
                                    <b>$95</b>
                                </p>
                                <div class="prod-rel-actions">
                                    <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                    <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                    <p class="prod-i-addwrap">
                                        <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="prod-rel">
                            <a href="product.html" class="prod-rel-img">
                                <img src="http://placehold.it/300x480" alt="Facilis illum">
                            </a>
                            <div class="prod-rel-cont">
                                <h3><a href="product.html">Facilis illum</a></h3>
                                <p class="prod-rel-price">
                                    <b>$150</b>
                                </p>
                                <div class="prod-rel-actions">
                                    <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                                    <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                                    <p class="prod-i-addwrap">
                                        <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>*@
        <!-- Related Products - end -->

    </section>
</main>
@section scripts{
    <script type="text/javascript">

    $(function () {
        //LoadData();
        $("#btnSubmitCmt").click(function () {
            var std = {};
            std.productId = $("#product-id").val();
            std.name = $("#name").val();
            std.email = $("#email").val();
            std.content = $("#content").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddReview", "Product")',
                data: '{addFeedback: ' + JSON.stringify(std) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    addReview(std.content, std.name);
                    $("#name").val('');
                    $("#email").val('');
                    $("#content").val('');
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
            return false;
        });
    });

        function addReview(content, name) {
            var stringNewReview = '';
            stringNewReview += '<li class="reviews-i existimg">'
            stringNewReview += '<div class="reviews-i-img">'
            stringNewReview += '<img src="http://placehold.it/120x120" alt="Averill Sidony">'
            stringNewReview += '<div class="reviews-i-rating">'
            stringNewReview += '<i class="fa fa-star"></i>'
            stringNewReview += '<i class="fa fa-star"></i>'
            stringNewReview += '<i class="fa fa-star"></i>'
            stringNewReview += '<i class="fa fa-star"></i>'
            stringNewReview += '<i class="fa fa-star"></i>'
            stringNewReview += '</div>'
            stringNewReview += '<time datetime="2017-12-21 12:19:46" class="reviews-i-date">' + Date().toString("MM/dd/yyyy HH:mm:ss") +'</time>'
            stringNewReview += '</div>'
            stringNewReview += '<div class="reviews-i-cont">'
            stringNewReview += '<p>'+content+'</p>'
            stringNewReview += '<span class="reviews-i-margin"></span>'
            stringNewReview += '<h3 class="reviews-i-ttl">'+name+'</h3>'
            stringNewReview += '<p class="reviews-i-showanswer">'
            stringNewReview += '<span data-open="Show answer" data-close="Hide answer" > Show answer</span>'
            stringNewReview += '<i class="fa fa-angle-down"></i ></p>'
            stringNewReview += '</div>'
            stringNewReview += '</li>'

            $('#list-review').append(stringNewReview);
        }

    @*function LoadData() {
        $("#tblStudent tbody tr").remove();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getStudent")',
            dataType: 'json',
            data: { id: '' },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                    + "<td class='prtoducttd'>" + item.studentID + "</td>"
                    + "<td class='prtoducttd'>" + item.studentName + "</td>"
                    + "<td class='prtoducttd'>" + item.studentAddress + "</td>"
                    + "</tr>";
                    $('#tblStudent tbody').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }*@
    </script>
}