@model List<WebsiteBanDienThoai.Models.SanPham>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="container">


        @*<ul class="b-crumbs">
            <li>
                <a href="@Url.Action("ProductList","Product")">
                    Doanh mục SP
                </a>
            </li>
            <li>
                <a href="LapTop.html">
                   
                </a>
            </li>
        </ul>*@
        <!-- Catalog Sidebar - start -->
        <div class="section-sb">

            <!-- Catalog Categories - start -->
            <div class="section-sb-current">
                <h3><a href="">Danh mục sản phẩm<span id="section-sb-toggle" class="section-sb-toggle"><span class="section-sb-ico"></span></span></a></h3>
                <h5>@Html.Action("CategoryMenu", "Product")</h5>
               
            </div>
            <!-- Catalog Categories - end -->
            <!-- Filter - start -->
            <!-- Filter - end -->

        </div>
        <!-- Catalog Sidebar - end -->
        <!-- Catalog Items | Gallery V1 - start -->
        <div class="section-cont">

            <!-- Catalog Topbar - start -->
            <div class="section-top">

                <!-- View Mode -->
                <ul class="section-mode">
                    <li class="section-mode-gallery active"><a title="View mode: Gallery" href="#"></a></li>
                    <li class="section-mode-list"><a title="View mode: List" href="#"></a></li>
                    <li class="section-mode-table"><a title="View mode: Table" href="#"></a></li>
                </ul>

                <!-- Sorting -->
                <div class="section-sortby">
                    <p>Mặc định</p>
                    <ul>
                        <li>
                            <a href="#">Sản phẩm nổi bật</a>
                        </li>
                        <li>
                            <a href="#">Giá: Tăng dần</a>
                        </li>
                        <li>
                            <a href="#">Giá: Giảm dần</a>
                        </li>
                        <li>
                            <a href="#">Tên: A->Z <i class="fa fa-angle-right"></i> Z</a>
                        </li>
                        <li>
                            <a href="#">Tên:Z->A<i class="fa fa-angle-right"></i> A</a>
                        </li>
                        <li>
                            <a href="#">Mặc định</a>
                        </li>
                    </ul>
                </div>

                <!-- Count per page -->
                <div class="section-count">
                    <p>12</p>
                    <ul>
                        <li><a href="#">12</a></li>
                        <li><a href="#">24</a></li>
                        <li><a href="#">48</a></li>
                    </ul>
                </div>

            </div>
            <!-- Catalog Topbar - end -->
            <div class="prod-items section-items">
                @foreach (var item in Model)
                {
                    <div class="prod-i">
                        <div class="prod-i-top">
                            <a href="#" class="prod-i-img"><!-- NO SPACE --><img src="~/Assets/img/@item.hinh_anh" alt="Adipisci aperiam commodi"><!-- NO SPACE --></a>
                            <!--<p class="prod-i-info">
                                a href="#" class="qview-btn prod-i-qview"><span>Xem nhanh  </span><i class="fa fa-search"></i></a>
                            </p>-->
                            <a href="#" class="prod-i-buy">Thêm vào giỏ</a>
                            <p class="prod-i-properties-label"><i class="fa fa-info"></i></p>

                            <div class="prod-i-properties">
                                <dl>
                                    <dt>CPU:</dt>
                                    <dd>@item.CPU <br></dd>
                                    <dt>RAM:</dt>
                                    <dd>@item.ram<br></dd>
                                    <dt>Hệ điều hành:</dt>
                                    <dd>@item.heDieuHanh<br></dd>
                                    <dt>Bộ nhớ trong</dt>
                                    <dd>@item.bonhotrong<br></dd>
                                </dl>
                            </div>
                        </div>
                        <h3>
                            <a href="@Url.Action("ChiTietSanPham","Product", new {@id = item.maSP} , null)">@item.ten</a>
                        </h3>
                        <p class="prod-i-price">
                            <b style="color: red">@item.gia_moi</b>
                        </p>
                    </div>
                }


            </div>

            <!-- Pagination - start -->
            <ul class="pagi">
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li class="pagi-next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
            <!-- Pagination - end -->
        </div>
        <!-- Catalog Items | Gallery V1 - end -->
        <!-- Quick View Product - start -->
        <div class="qview-modal">
            <div class="prod-wrap">
                <a href="#">
                    <h1 class="main-ttl">
                        <span>Reprehenderit adipisci</span>
                    </h1>
                </a>
                <div class="prod-slider-wrap">
                    <div class="prod-slider">
                        <ul class="prod-slider-car">
                            <li>
                                <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x525">
                                    <img src="http://placehold.it/500x525" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x591">
                                    <img src="http://placehold.it/500x591" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x525">
                                    <img src="http://placehold.it/500x525" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                    <img src="http://placehold.it/500x722" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                    <img src="http://placehold.it/500x722" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                    <img src="http://placehold.it/500x722" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                    <img src="http://placehold.it/500x722" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="prod-thumbs">
                        <ul class="prod-thumbs-car">
                            <li>
                                <a data-slide-index="0" href="#">
                                    <img src="http://placehold.it/500x525" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="1" href="#">
                                    <img src="http://placehold.it/500x591" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="2" href="#">
                                    <img src="http://placehold.it/500x525" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="3" href="#">
                                    <img src="http://placehold.it/500x722" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="4" href="#">
                                    <img src="http://placehold.it/500x722" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="5" href="#">
                                    <img src="http://placehold.it/500x722" alt="">
                                </a>
                            </li>
                            <li>
                                <a data-slide-index="6" href="#">
                                    <img src="http://placehold.it/500x722" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="prod-cont">
                    <p class="prod-actions">
                        <a href="#" class="prod-favorites"><i class="fa fa-heart"></i> Add to Wishlist</a>
                        <a href="#" class="prod-compare"><i class="fa fa-bar-chart"></i> Compare</a>
                    </p>
                    <div class="prod-skuwrap">
                        <p class="prod-skuttl">Color</p>
                        <ul class="prod-skucolor">
                            <li class="active">
                                <img src="img/color/blue.jpg" alt="">
                            </li>
                            <li>
                                <img src="img/color/red.jpg" alt="">
                            </li>
                            <li>
                                <img src="img/color/green.jpg" alt="">
                            </li>
                            <li>
                                <img src="img/color/yellow.jpg" alt="">
                            </li>
                            <li>
                                <img src="img/color/purple.jpg" alt="">
                            </li>
                        </ul>
                        <p class="prod-skuttl">Sizes</p>
                        <div class="offer-props-select">
                            <p>XL</p>
                            <ul>
                                <li><a href="#">XS</a></li>
                                <li><a href="#">S</a></li>
                                <li><a href="#">M</a></li>
                                <li class="active"><a href="#">XL</a></li>
                                <li><a href="#">L</a></li>
                                <li><a href="#">4XL</a></li>
                                <li><a href="#">XXL</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="prod-info">
                        <p class="prod-price">
                            <b class="item_current_price">$238</b>
                        </p>
                        <p class="prod-qnt">
                            <input type="text" value="1">
                            <a href="#" class="prod-plus"><i class="fa fa-angle-up"></i></a>
                            <a href="#" class="prod-minus"><i class="fa fa-angle-down"></i></a>
                        </p>
                        <p class="prod-addwrap">
                            <a href="#" class="prod-add">Add to cart</a>
                        </p>
                    </div>
                    <ul class="prod-i-props">
                        <li>
                            <b>SKU</b> 05464207
                        </li>
                        <li>
                            <b>Manufacturer</b> Mayoral
                        </li>
                        <li>
                            <b>Material</b> Cotton
                        </li>
                        <li>
                            <b>Pattern Type</b> Print
                        </li>
                        <li>
                            <b>Wash</b> Colored
                        </li>
                        <li>
                            <b>Style</b> Cute
                        </li>
                        <li>
                            <b>Color</b> Blue, Red
                        </li>
                        <li><a href="#" class="prod-showprops">All Features</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Quick View Product - end -->
    </section>
</main>

