@model WebsiteBanDienThoai.Models.ForgotPasswordViewModels
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main>
    <section class="container stylization maincont">


        <ul class="b-crumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    Home
                </a>
            </li>
            <li>
                <span> Đăng nhập</span>
            </li>
        </ul>
        <h1 class="main-ttl"><span>Quên mật khẩu</span></h1>
        <div class="auth-wrap">
            <div class="auth-col">
                <h2>Đăng nhập</h2>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
            <form method="post" class="login">
                <p>
                    <label for="username">E-mail <span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { type = "text" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </p>

                <p class="auth-submit">
                    <input type="submit" value="Gửi">
                </p>
                <div class="d-flex justify-content-center">
                    <span>Bạn đã nhớ mật khẩu?</span><a href="@Url.Action("Login","Account")" style="font-weight:600;margin-left:5px;">Đăng nhập</a>
                </div>

            </form>
                }
            </div>
        </div>
    </section>
</main>
@section scripts{
    <script src="~/Scripts/UserJS/jquery.validate.min.js"></script>
    <script src="~/Scripts/UserJS/jquery.validate.unobtrusive.js"></script>
}