@model WebsiteBanDienThoai.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container stylization maincont">


    <ul class="b-crumbs">
        <li>
            <a href="@Url.Action("Index","Home")">
                Home
            </a>
        </li>
        <li>
            <span>Đăng kýp</span>
        </li>
    </ul>
    <h1 class="main-ttl"><span>Đăng ký</span></h1>
    <div class="auth-wrap">
        <div class="auth-col">
            <h2>Đăng ký</h2>
            @using (Html.BeginForm())
            {
             @Html.AntiForgeryToken()
           
            <form method="post" class="register">
                <p>
                    <label for="reg_email">Email <span class="required">*</span></label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "text" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label for="reg_password">Mật Khẩu <span class="required">*</span></label>
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { type = "text" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label for="reg_password">Xác nhận mật khẩu <span class="required">*</span></label>
                    @Html.PasswordFor(model => model.PasswordConfirm, new { htmlAttributes = new { type = "text" } })
                    @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label for="reg_password">Họ tên <span class="required">*</span></label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { type = "text" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label for="reg_password">Số điện thoại <span class="required">*</span></label>
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { type = "text" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label for="reg_password">Địa chỉ <span class="required">*</span></label>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { type = "text" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </p>
                <p class="auth-submit">
                    <input type="submit" value="Đăng ký">
                </p>
            </form>
            }
        </div>
    </div>
</section>

