@model WebsiteBanDienThoai.Models.ResetPasswordViewModels
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="container stylization maincont">


        <ul class="b-crumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    Trang chủ
                </a>
            </li>
            <li>
                <span> Cập nhật mật khẩu</span>
            </li>
        </ul>
        <h1 class="main-ttl"><span>Cập nhật mật khẩu</span></h1>
        <div class="auth-wrap">
            <div class="auth-col">
                <h2>Cập nhật mật khẩu</h2>
                @using (Html.BeginForm("Resetpassword", "Account", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form method="post" class="login">
                        <p>
                            <label for="username">Mật khẩu mới <span class="required">*</span></label>
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { type = "password" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </p>
                        <p>
                            <label for="password">Xác nhận mật khuẩ <span class="required">*</span></label>
                            @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { type = "password" } })
                            @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                        </p>
                        <p class="auth-submit">
                            <input type="submit" value="Cập nhật mật khẩu">
                        </p>

                    </form>
                }
            </div>
        </div>
    </section>
</main>
@section scripts{
    <script src="~/Scripts/UserJS/jquery.validate.min.js"></script>
    <script src="~/Scripts/UserJS/jquery.validate.unobtrusive.js"></script>
}

